
$primarycolor:#9356DC;
$secodarycolor:#FF79DA;
$tertiarycolor:#99E2D0;
$searchcolor:#eaeaea;
$contenucolor:#f7f7f7;


header{
    font-family: 'Shrikhand', cursive;
    
    text-align: center;

}


body{
    font-family: 'Roboto', sans-serif;
    margin:0px;
}

.formville{
    display:grid;
    position: relative;
    .btnsearch{
        text-align: center;
        padding:15px;
        background-color: $searchcolor;          
        &::placeholder{
            color: black; 
            font-size: 17px;
            font-family:Arial, FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
        }

    }
}



.sousmenu{
    text-align: center;
    background-color:$contenucolor;
    margin-top: -20px;
    padding:10%;
    .btnexplorer{
        color:white;
        background-color: #9356dc;
        background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);        
        margin:30px;
        border-radius: 50px;
        padding:15px;
        border:transparent;
        font-size: 17px;
    }
    
}
  


.fonctionnement{
    display:flex;
    flex-direction: column;
    padding:5%;

    .btnfc{
        border: 1px solid $contenucolor;
        background-color: $contenucolor;
        border-radius: 10px;
        padding: 30px;          
        margin:10px;
        box-shadow: 10px 5px 5px $searchcolor;
        font-size: 18px;
        font-weight:bold;
    }

}
ol {
    list-style-position: inside;
    color : #CC0000

}
/*     .ol{
        padding: 5px;
        background:$primarycolor;
        text-align:center;
        color:white;
        border-radius:50px;
        position:relative;
    }
 */