
@import "../Utils/animations";

//Header

.page_header{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px 25px 10px 25px;
    &__retour{
        left: 20px;
        position:absolute;
        margin: -9px;
        
    }
    &__titre{
        margin:auto;
       
    }
}

.page_img{
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

//Main

.page_main{
    margin-top: -30px;
    position: relative;
    border-radius: 30px 30px 0 0;
    background-color: #f6f6f6;
    padding: 35px 15px 20px 15px;
    
    
    
    
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 45px;
        &__title{
            font-family: 'Shrikhand', sans-serif;
            font-size: 40px;
            
        }
    }
}

.plat{
    padding:10px;
    padding-bottom: 40px;
    background-color: #f6f6f6;
    &__header{
        
        margin-bottom: 25px;
        ::after{
            content: "";
            display: block;
            margin-top: 5px;
            width: 40px;
            height: 3px;
            background-color: $tertiarycolor;
            animation: progress 2s;
            animation-fill-mode: both;
            transform: scale(0);
        }
    }
    &__card{
        height: 70px;
        width: 100%;
        padding-left: 10px;
        background-color: white;
        display: flex;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 15px;
        overflow: hidden;
        box-shadow: 2px 2px 10px #c4c3c0;
        animation: appear 5s;
        animation-timing-function: cubic-bezier(.57,-0.3,.36,1.2);
        transform: scale(0);
        animation-fill-mode: both;
        &__txt{
            width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &--over{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__price{
            margin-left: 10px;
        }
        &__check{
            height: 70px;
            width: 60px;
            opacity: 0;
            background-color: $tertiarycolor;
            margin-left: 25px;
            margin-right: -70px;
            border-radius: 0 10px 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.7s ease-in-out;
        }
        &:hover :nth-child(3) {
            opacity: 1;
            margin-right: 0px;
        }
        &:hover .check_icons{
            opacity: 1;
            transform: rotate(-360deg);
        }
    }
    
}
.bouton{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#f6f6f6;
}
.btn{
    display:grid;
    color:white;
    background-color: #9356dc;
    background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);        
    
    border-radius: 50px;
    padding:15px 50px;
    border:transparent;
    font-size: 17px;
    margin: 20px;
    margin-top: -25px;

}
